<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="text-center font-weight-bold">Horario</h3>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered text-center">
                    <thead>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </thead>
                    <tbody class="ce-schedule-group">
                        <tr *ngFor="let session of schedule">
                            <th>{{ session.session }}</th>
                            <td>{{ session.monday }}</td>
                            <td>{{ session.tuesday }}</td>
                            <td>{{ session.wednesday }}</td>
                            <td>{{ session.thursday }}</td>
                            <td>{{ session.friday }}</td>
                            <td>{{ session.saturday }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <button (click)="generarPDF()" type="button" class="btn btn-elegant float-right">
                <i class="fas fa-print pr-2"></i>
                Imprimir
            </button> -->
        </div>
    </div>
</div>