<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="text-center font-weight-bold">Horario</h3>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered text-center">
                    <thead>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </thead>
                    <tbody class="ce-schedule-group">
                        <tr>
                            <th>{{ sessions[0].start_hour }}-{{ sessions[0].end_hour }}</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>{{ sessions[1].start_hour }}-{{ sessions[1].end_hour }}</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>{{ sessions[2].start_hour }}-{{ sessions[2].end_hour }}</th>
                            <td></td>
                            <td>ITI10B</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>{{ sessions[3].start_hour }}-{{ sessions[3].end_hour }}</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>{{ sessions[4].start_hour }}-{{ sessions[4].end_hour }}</th>
                            <td></td>
                            <td>ITI10B</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>{{ sessions[5].start_hour }}-{{ sessions[5].end_hour }}</th>
                            <td></td>
                            <td>ITI10B</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="generarPDF()" type="button" class="btn btn-elegant float-right">
                <i class="fas fa-print pr-2"></i>
                Imprimir
            </button>
        </div>
    </div>
</div>