<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="text-center font-weight-bold">Horario</h3>
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered text-center">
                    <thead>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </thead>
                    <tbody class="ce-schedule-group">
                        <tr>
                            <th>4:00 - 4:45</th>
                            <td>ITI 10B</td>
                            <td>ITI 10A</td>
                            <td>ITI 10B</td>
                            <td>ITI 7A</td>
                            <td>ITI 7B</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>4:45 - 5:30</th>
                            <td>ITI 10B</td>
                            <td>ITI 10A</td>
                            <td>ITI 10B</td>
                            <td>ITI 7A</td>
                            <td>ITI 7B</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>5:30 - 6:15</th>
                            <td>ITI 10B</td>
                            <td>ITI 10A</td>
                            <td>ITI 10B</td>
                            <td>ITI 7A</td>
                            <td>ITI 7B</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>6:15 - 6:35</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>6:35 - 7:20</th>
                            <td>ITI 10B</td>
                            <td>ITI 10A</td>
                            <td>ITI 10B</td>
                            <td>ITI 7A</td>
                            <td>ITI 7B</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>7:20 - 8:05</th>
                            <td>ITI 10B</td>
                            <td>ITI 10A</td>
                            <td>ITI 10B</td>
                            <td>ITI 7A</td>
                            <td>ITI 7B</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="generarPDF()" type="button" class="btn btn-elegant float-right">
                <i class="fas fa-print pr-2"></i>
                Imprimir
            </button>
        </div>
    </div>
</div>