<app-loading *ngIf="loading"></app-loading>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-info mt-3">
                <div class="card-title">MUY IMPORTANTE</div>
                <div class="card-text">
                    A todos los alumnos que han sido beneficiados con el Fideicomiso Fondo de Becas se les comunica lo
                    siguiente:
                    <br>
                    Que con lo estipulado en la Quinta Convocatoria que a la letra dice:
                    <br>
                    Monto de apoyo por modalidad de beca
                    <br>


                    I. Beca de Formación. Cubrirá el costo de la colegiatura (de acuerdo al costo en el año de
                    participación) asignado por la IPES para el programa académico donde se encuentra inscrito el
                    becario. Este tipo de becas estará sujeto a disponibilidad presupuestal, tomando como base los
                    montos que para tal efecto hubiere aprobado el Comité Técnico del FIBEIPES.
                    <br>

                    Por lo que se les informa que deberán de pasar al área de caja para hacer el pago de la diferencia.
                </div>
            </div>
            <div class="card card-body bg-info mt-3">
                    <div class="card-title">MUY IMPORTANTE</div>
                    <div class="card-text">
                        A todos los alumnos que han sido beneficiados con el Fideicomiso Fondo de Becas se les comunica lo
                        siguiente:
                        <br>
                        Que con lo estipulado en la Quinta Convocatoria que a la letra dice:
                        <br>
                        Monto de apoyo por modalidad de beca
                        <br>
    
    
                        I. Beca de Formación. Cubrirá el costo de la colegiatura (de acuerdo al costo en el año de
                        participación) asignado por la IPES para el programa académico donde se encuentra inscrito el
                        becario. Este tipo de becas estará sujeto a disponibilidad presupuestal, tomando como base los
                        montos que para tal efecto hubiere aprobado el Comité Técnico del FIBEIPES.
                        <br>
    
                        Por lo que se les informa que deberán de pasar al área de caja para hacer el pago de la diferencia.
                    </div>
                </div>
                <div class="card card-body bg-info mt-3">
                        <div class="card-title">MUY IMPORTANTE</div>
                        <div class="card-text">
                            A todos los alumnos que han sido beneficiados con el Fideicomiso Fondo de Becas se les comunica lo
                            siguiente:
                            <br>
                            Que con lo estipulado en la Quinta Convocatoria que a la letra dice:
                            <br>
                            Monto de apoyo por modalidad de beca
                            <br>
        
        
                            I. Beca de Formación. Cubrirá el costo de la colegiatura (de acuerdo al costo en el año de
                            participación) asignado por la IPES para el programa académico donde se encuentra inscrito el
                            becario. Este tipo de becas estará sujeto a disponibilidad presupuestal, tomando como base los
                            montos que para tal efecto hubiere aprobado el Comité Técnico del FIBEIPES.
                            <br>
        
                            Por lo que se les informa que deberán de pasar al área de caja para hacer el pago de la diferencia.
                        </div>
                    </div>
        </div>
    </div>
</div>