<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark success-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" [routerLink]="['/']">Control Escolar</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto" *ngIf="!identity">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="identity">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']">Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/perfil']">Mi perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/logout/1']">Salir</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
