<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/']" class="previous">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
        </div>
    </div>
    <div class="row ce-text">
        <div class="col-12">
            <!-- <p>Nivel: <span>Licenciatura</span></p>
            <p>Grado: <span>4TO</span></p> -->
            <p>Ciclo: <span>Septiembre - Diciembre 2019</span></p>
            <p>Beca: <span>Ninguna</span></p>
            <p>Convenio: <span>No</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Concepto</th>
                            <th scope="col">Vence</th>
                            <th scope="col">Pago</th>
                            <th scope="col">Importe</th>
                            <th scope="col">Rec.</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-success">
                            <td>INSCRIPCION LICENCIATURA</td>
                            <td>17/09/2019</td>
                            <td>01/10/2019</td>
                            <td>352.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr class="bg-warning">
                            <td>COLEGIATURA LICENCIAUTRA SEPTIEMBRE</td>
                            <td>17/09/2019</td>
                            <td></td>
                            <td>838.00</td>
                            <td>8.38</td>
                            <td>846.38</td>
                        </tr>
                        <tr>
                            <td>COLEGIATURA LICENCIAUTRA OCTUBRE</td>
                            <td>16/10/2019</td>
                            <td></td>
                            <td>838.00</td>
                            <td>0.00</td>
                            <td>838.00</td>
                        </tr>
                        <tr>
                            <td>COLEGIATURA LICENCIAUTRA NOVIEMBRE</td>
                            <td>16/11/2019</td>
                            <td></td>
                            <td>838.00</td>
                            <td>0.00</td>
                            <td>838.00</td>
                        </tr>
                        <tr>
                            <td>COLEGIATURA LICENCIAUTRA DICIEMBRE</td>
                            <td>16/12/2019</td>
                            <td></td>
                            <td>838.00</td>
                            <td>0.00</td>
                            <td>838.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total a Pagar</td>
                            <td>$3,360.38</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>