<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/']" class="previous">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
        </div>
    </div>
    <div class="row ce-text">
        <div class="col-12">
            <p>Nivel:
                <span>
                    <select id="level" class="browser-default custom-select" (change)="levelChanged($event.target.value)">
                        <!-- <option selected>Open this select menu</option> -->
                        <option *ngFor="let level of levels" [value]="level.id">{{ level.name }}</option>
                    </select>
                </span>
            </p>
            <!-- <p>Grado: <span>4TO</span></p> -->
            <p>Ciclo: 
                <span>
                    <select class="browser-default custom-select" (change)="cycleChanged($event.target.value)">
                        <!-- <option selected>Open this select menu</option> -->
                        <option *ngFor="let cycle of cycles" [value]="cycle.id">{{ cycle.name }}</option>
                    </select>
                </span>
            </p>
            <p>Selected option: {{ cycleId }}</p>
            <p>Change output: {{ printedOption }}</p>
            <p>Beca: <span>Ninguna</span></p>
            <p>Convenio: <span>No</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Concepto</th>
                            <th scope="col">Vence</th>
                            <th scope="col">Pago</th>
                            <th scope="col">Importe</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Rec.</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of payments">
                            <td>{{ payment.name }}</td>
                            <td>{{ payment.expires_date }}</td>
                            <td>{{ payment.payment_date }}</td>
                            <td>{{ payment.total }}</td>
                            <td>{{ payment.discount }}</td>
                            <td>{{ payment.surcharge }}</td>
                            <td>{{ payment.grant }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total a Pagar</td>
                            <td>${{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>