<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 pt-sm-3 pb-sm-3 pr-sm-3 pl-sm-3 mt-sm-3  d-none d-md-block">
            <div class="row">
                <div class="col-6 text-center" *ngFor="let item of items">
                    <a [routerLink]="[item.url]">
                        <div [className]="item.color+' ce-container'">
                            <img [src]="assetsUrl+item.icon" class="img-fluid ce-img">
                            <p class="ce-text-icon-desktop">{{ item.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>