.ce-icon
    font-size: 30px

.ce-text
    font-weight: bold
    font-size: 20px

.ce-container
    &:hover
        cursor: pointer

.ce-img
    width: 65px

.ce-avisos
    color: #06ECE4

.ce-calificaciones
    color: #E88B07

.ce-cuenta
    color: #1050C7

.ce-historico
    color: #63B602

.ce-perfil
    color: #98B22F

.ce-salir
    color: #CD5F5F