<div class="container">
    <div class="row mt-4">
        <div class="col-6 mb-3">
            <div class="card card-body text-center">
                <i class="fas fa-user"></i>
                Alumno
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card card-body text-center">
                <i class="fas fa-trash"></i>
                Calificaciones
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card card-body text-center">
                <i class="fas fa-trash"></i>
                Faltas
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card card-body text-center">
                <i class="fas fa-trash"></i>
                Historico
            </div>
        </div>
    </div>
</div>
