<app-load *ngIf="loading"></app-load>
<div class="container-fluid" *ngIf="!loading">
    <div class="row mt-md-3">
        <div class="col-lg-3 col-sm-12 col-12 text-center user-img">
            <img *ngIf="student.user.gender == 'Hombre'" src="http://cag.org.bd/newdesign/assets/img/profile/default.jpg" class="rounded-circle img-thumbnail">
            <img *ngIf="student.user.gender == 'Mujer'" src="https://cdn4.vectorstock.com/i/thumbs/82/33/person-gray-photo-placeholder-woman-vector-24138233.jpg" class="rounded-circle img-thumbnail">
            <h5>{{ student.user.name }} {{ student.user.last_name }} {{ student.user.second_last_name }}</h5>
            <h5>Matricula</h5>
            <span>{{ student.user_id }}</span>
            <h5>Carrera</h5>
            <span>{{ student.career_id}}</span>
        </div>
        <div class="col-lg-9 col-sm-12 col-12">
                <ul class="nav nav-pills nav-justified">
                        <li 
                            *ngFor="let tab of tabs; let index = index" 
                            [className]="'nav-item nav-link '+tab.styles"
                            (click)="showtab(index)">
                            {{ tab.title }}
                        </li>
                    </ul>
                    <div class="row ce-text">
                        <div class="col-12" *ngIf="tabs[0].status">
                            <p>Sexo: 
                                <span >{{ student.user.gender }}</span>
                            </p>
                            <p>Nacionalidad: 
                                <span >{{ student.user.nationality }}</span>
                            </p>
                            <p>Lugar de Nacimiento: 
                                <span >{{ student.user.locality }}, {{ student.user.neighborhood }}</span>
                            </p>
                            <p>Fecha: 
                                <span >{{ student.user.birthday }}</span>
                            </p>
                            <p>CURP: 
                                <span >{{ student.user.curp }}</span>
                            </p>
                            <p>Seguro Facultativo: 
                                <span >{{ student.user.insurance }}</span>
                            </p>
                            <p>Indice Egetsu: 
                                <span >{{ student.egetsu_rating }}</span>
                            </p>
                        </div>
                        <div class="col-12" *ngIf="tabs[1].status">
                            <p>Calle: <span>{{ student.user.street }}</span></p>
                            <p>Número Ext/Int: <span>{{ student.user.outdoor_number }}</span></p>
                            <p>Colonia: <span>{{ student.user.neighborhood }}</span></p>
                            <p>Localidad: <span>{{ student.user.locality }}</span></p>
                            <p>Estado: <span>Zacatecas</span></p>
                            <p>Municipio: <span>{{ student.user.current_township_id }}</span></p>
                            <p>Código Postal: <span>{{ student.user.postal_code }}</span></p>
                            <p>Teléfono: <span>{{ student.user.phone }}</span></p>
                            <p>e-mail: <span>{{ student.user.email }}</span></p>
                        </div>
                        <div class="col-12" *ngIf="tabs[2].status">
                            <p>Escuela de Procedencia: <span>COBAEZ LUIS MOYA</span></p>
                            <p>Promedio: <span>8.74</span></p>
                            <p>Estado: <span>Zacatecas</span></p>
                            <p>Municipio: <span>Luis Moya</span></p>
                            <p>Nivel: <span>Licenciatura</span></p>
                            <p>Grado: <span>4TO</span></p>
                            <p>Carrera: <span>Tecnologias de la Informacion</span></p>
                            <p>Plan Estudio: <span>2009</span></p>
                            <p>Turno: <span>Vespertino</span></p>
                            <p>Plantel: <span>Rincon</span></p>
                            <p>Situación: <span>{{ student.status }}</span></p>
                            <p>Tipo: <span>Carga completa</span></p>
                            <p>Puntaje obtenido en EXANI-II: <span>0</span></p>
                        </div>
                        <!-- <div class="col-12" *ngIf="tabs[3].status">
                            Tab4
                        </div> -->
                    </div>
        </div>
    </div>
</div>